/* regole css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* styles */

li {
    list-style: none;
    
}


.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}