/* regole css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    
}

/* styles */

li {
    list-style: none;
    text-decoration: none;
    color: black;
    
}

ul {
    display: flex;
    gap: 35px;
    
}

a {
    color: black;
    text-decoration: none;
    font-style: bold;
}
 .nav-button {
    border-radius: 10px;
    background-color: blue;
    color: white;
    height: 30px;
    width: 60px;;
 }

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    height: 60px;

}

.nav-list {
    display: flex;
}

.jumbo {
    background-color: rgb(161, 217, 240);
    display: flex;
}

.container-jumbo {
    display: flex;
}