/* regole css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;

}

/* styles */

li {
    list-style: none;
    text-decoration: none;
    color: black;

}

ul {
    display: flex;
    gap: 35px;

}

a {
    color: black;
    text-decoration: none;
    font-style: bold;
}

h1 {

    font-size: 45px;
}

h2 {
    font-size: 30px;
}


.start-free {
    background-color: blue;
    color: white;
    width: 221px;
    padding: 4px;
    border-radius: 11px;
    margin: 35px
}


.nav-button {
    border-radius: 10px;
    background-color: blue;
    color: white;
    height: 30px;
    width: 60px;
    ;
}

/* navigation bar */

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    height: 60px;

}

.nav-list {
    display: flex;
}


/* jumbo section */


.jumbo {
    background-color: rgb(161, 217, 240);
    display: flex;
    flex-wrap: wrap;
    height: 450px;
}

.container-jumbo {
    width: 850px;
    margin: 0 auto;
}

.container-jumbo-top {
    margin-top: 40px;
    margin-bottom: 20px;
}

.container-jumbo-bottom {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.img-container-jumbo {
     width: 2585px;
}

.img-jumbo {
    width: 100%;
}

.container-business {
    width: 700px;
    margin: 0 auto;
}

.advise {
        /* display: flex;
    justify-content: center; */
    margin-top: 100px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-type{
    width: 30%;
    border: 1px solid;
}
 
.w-100 {
    width: 100%;
}