/* regole css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;

}

/* styles */

li {
    list-style: none;
    text-decoration: none;
    color: black;

}

ul {
    display: flex;
    gap: 35px;

}

a {
    color: black;
    text-decoration: none;
    font-style: bold;
}

h1 {

    font-size: 45px;
}

h2 {
    font-size: 30px;
}


.start-free {
    background-color: blue;
    color: white;
    width: 161px;
    border-radius: 11px;
    margin-bottom: 47px;
    margin-top: 9px;
    padding: 7px;

}

.start-free-white {
    background-color: white;
    padding: 11px;
    margin-top: 50px;
    border-radius: 16px;
}



.nav-button {
    border-radius: 10px;
    background-color: blue;
    color: white;
    height: 30px;
    width: 60px;
    ;
}

/* navigation bar */

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    height: 60px;

}

.nav-list {
    display: flex;
}


/* jumbo section */


.jumbo {
    background-color: rgb(161, 217, 240);
    display: flex;
    flex-wrap: wrap;
    height: 450px;
}

.container-jumbo {
    width: 850px;
    margin: 0 auto;
}

.container-jumbo-top {
    margin-top: 40px;
    margin-bottom: 20px;
}

.container-jumbo-bottom {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.img-container-jumbo {
    width: 2585px;
}

.img-jumbo {
    width: 100%;
}

/* section cards */

.container-business {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.advise {

    margin-top: 100px;
    margin-bottom: 50px;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 650px;
    gap: 22px;

}

.card-type {
    width: 30%;
    border: solid 0.5px #f6efef;
    padding: 10px;
}

.bottom-line {
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.w-100 {
    width: 100%;
}

.joinus-img {
    width: 428px;
    border-radius: 17px;
}

.section-joinus {
    display: flex;
    margin: 0 auto;
    width: 760px;
}

.joinus-1 {
    width: 60%;
}

.joinus-2 {
    width: 40%;
}

.container-dropbox-card {
     width: 700px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.cards-img {
    width: 175px;
}